.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
    min-width: 1160px;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    font-weight: normal;
    font-family: "Open Sans", "Arial", sans-serif;
    
}


.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-cart {
    width: 12px;
    height: 12px;
    background-position: -5px -5px;
}

.sprite-icon-cart-footer {
    width: 12px;
    height: 12px;
    background-position: -5px -27px;
}

.sprite-icon-cart-footer-down {
    width: 12px;
    height: 12px;
    background-position: -5px -49px;
}

.sprite-icon-cart-footer-hvr {
    width: 12px;
    height: 12px;
    background-position: -5px -71px;
}

.sprite-icon-checkbox {
    width: 12px;
    height: 7px;
    background-position: -5px -93px;
}

.sprite-icon-compare {
    width: 10px;
    height: 10px;
    background-position: -5px -110px;
}

.sprite-icon-compare-footer {
    width: 10px;
    height: 10px;
    background-position: -5px -130px;
}

.sprite-icon-compare-footer-down {
    width: 10px;
    height: 10px;
    background-position: -5px -150px;
}

.sprite-icon-compare-footer-hvr {
    width: 10px;
    height: 10px;
    background-position: -5px -170px;
}

.sprite-icon-facebook {
    width: 39px;
    height: 38px;
    background-position: -5px -190px;
}

.sprite-icon-facebook-down {
    width: 39px;
    height: 38px;
    background-position: -5px -238px;
}

.sprite-icon-facebook-hvr {
    width: 39px;
    height: 38px;
    background-position: -5px -286px;
}

.sprite-icon-htmlacademy {
    width: 27px;
    height: 34px;
    background-position: -5px -334px;
}

.sprite-icon-htmlacademy-down {
    width: 27px;
    height: 34px;
    background-position: -5px -378px;
}

.sprite-icon-htmlacademy-hvr {
    width: 27px;
    height: 34px;
    background-position: -5px -422px;
}

.sprite-icon-inst {
    width: 39px;
    height: 38px;
    background-position: -5px -466px;
}

.sprite-icon-inst-down {
    width: 39px;
    height: 38px;
    background-position: -5px -514px;
}

.sprite-icon-inst-hvr {
    width: 39px;
    height: 38px;
    background-position: -5px -562px;
}

.sprite-icon-radiocheck {
    width: 9px;
    height: 9px;
    background-position: -5px -610px;
}

.sprite-icon-search {
    width: 16px;
    height: 16px;
    background-position: -5px -629px;
}

.sprite-icon-twitter {
    width: 38px;
    height: 38px;
    background-position: -5px -655px;
}

.sprite-icon-twitter-down {
    width: 38px;
    height: 38px;
    background-position: -5px -703px;
}

.sprite-icon-twitter-hvr {
    width: 38px;
    height: 38px;
    background-position: -5px -751px;
}

.sprite-icon-user {
    width: 13px;
    height: 12px;
    background-position: -5px -799px;
}

.sprite-icon-user-footer {
    width: 13px;
    height: 12px;
    background-position: -5px -821px;
}

.sprite-icon-user-footer-down {
    width: 13px;
    height: 12px;
    background-position: -5px -843px;
}

.sprite-icon-user-footer-hvr {
    width: 13px;
    height: 12px;
    background-position: -5px -865px;
}

.logo {
    margin-top: 15px;
    margin-bottom: 35px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bolder;
}

.logo a {
    font: inherit;
    text-decoration: inherit;
    color: inherit;
}

.logo a:hover {
    color: #464646;
}

.logo a:active {
    color: #666666;
}

h2,
h3  {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;    
    font-weight: bolder;    
}

.user-block {
    margin-bottom: 45px;
}

.search {
/*    width: 300px;*/
    float: left;
}


.search-field {
    border: none;
    opacity: 0.3;
    margin-left: 10px;
    background-color: transparent;
}

.search-field:focus {
    outline: none;    
    opacity: 1;
    background-color: transparent;
    width: 355px;
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
}

.search-field:focus::after {
    
}

/*
.find-btn {
    background-color: transparent;
    border: 2px solid #000000;
    outline: none;
    width: 85px;
    height: 50px;   
}
*/



.breadcrumbs {
    float: right;
    min-width: 500px;
    font-size: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.breadcrumbs li {    
    display: inline;
    vertical-align: top;
    font-size: 15px;
    line-height: 36px;
    float: left;
}

.breadcrumbs li:hover {
    opacity: 0.6;
}

.breadcrumbs li:active {
    opacity: 0.3;
}

.breadcrumbs li:nth-child(1) {    
    display: block;
    float: left;
}

.breadcrumbs li:nth-child(2) {
    display: block;
    float: left;
    margin-left: 250px;
}

.breadcrumbs li:last-child {
    padding-right: 0;
    display: block;
    float: right;
}

.breadcrumbs li::after {
    padding-right: 20px;
}

.breadcrumbs a {
    text-decoration: none;
    color: #000000;
}

.cart {
    position: relative;
    
}

.cart::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: -20px;
    width: 12px;
    height: 12px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -5px -5px;
}

.compare {
    position: relative;
    margin-left: 0px;
}

.compare::before {
    content: "";
    position: absolute;
    top: 25%;
    left: -20px;
    width: 10px;
    height: 10px;
    background: transparent url("../img/sprite.png");
    background-position: -5px -110px;
}

.login {
    position: relative;
}

.login::before {
    content: "";
    position: absolute;
    top: 25%;
    left: -20px;
    width: 13px;
    height: 12px;
    background: transparent url("../img/sprite.png");
    background-position: -5px -799px;
}

nav {
    margin-bottom: 60px;
    min-height: 20px;
}

.main-navigation {
    display: block;
    float: right;
    font-size: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    min-width: 
}

.main-navigation li {
    font-size: 18px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
}

.main-navigation a {
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
}

.main-navigation a:hover {
    opacity: 0.6;
}

.main-navigation a:active {
    opacity: 0.3;
}

.main-navigation li:first-child {
    margin-right: 60px;
}

.catalog {
    position: relative;
    float: left;
    margin-right: 300px;
    font-size: 18px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
}

.catalog::after {
    position: absolute;
    content: "";
    top: 15%;
    right: -25px;;
    width: 16px;
    height: 16px;
    background: transparent url(../img/icon-plus.png);
    opacity: 0.3;
}

.catalog:hover {
    opacity: 0.6;
}

.catalog:active {
    opacity: 0.3;
}

.catalog:hover::after {
    opacity: 0.6;
}

.delivery {
    margin-right: 40px;
}

.warranty {
    margin-right: 100px;
}


.container {
    width: 1160px;
    margin: 0 auto;
    z-index: 1;
}

.yellow-bg {
    background-color: #f7e296;
    background-size: cover;
    height: 300px;
    margin-top: 40px;
}

.header-wrapper {
    position: relative;
    top: -15px;
    padding-left: 60px;
    padding-right: 60px;
}






/*_______________________________*/

.btn {
    color: #000000;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    letter-spacing: 3px;
    text-decoration: none;
    position: relative;
    text-align: center;
    font-family: "Gilroy", "Arial", sans-serif;
    text-transform: uppercase;
    width: 220px;    
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-color: #f0c52e;
    top: 16px;
    bottom: 16px;
    transition-duration: 0.25s;
    transition-property: top bottom;
    z-index: -1;
}

.btn:hover::before {
    top: 0;
    bottom: 0;
}

.btn:active {
    color: #686868;
}

.btn-container {
    height: 40px;
}

.serv-btn {
    width: 160px;
}

.serv-btn:hover::before {
    width: 280px;
    color: #f0c52e;
    background-color: #000000;
    transition-duration: 0.25s;
    transition-property: top bottom;
    
}

.services-btn ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.services-btn li {
    margin-bottom: 25px;
}

.services-btn a {
    z-index: 0;
}

.services-btn a:hover {
    color: #f0c52e;
}

.index-content .btn {
    width: 260px;
}

/*РАЗМЕТКА СЛАЙДЕРА----------------------------------------------------*/

.slider {
    width: 1072px;
    margin: 0 auto;
    position: relative;
}

.slide {
    min-height: 490px;
    background-repeat: no-repeat;
    background-position: 5px 100%;
}

.slide1 {
    background-image: url("../img/slider-1.png");
}

.slide2 {
    background-image: url("../img/slider-2.png");
}

.slide3 {
    background-image: url("../img/slider-3.png");
}

.slide-text {
    width: 500px;
    float: right;
}

.slide-title {
    font-size: 47px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    line-height: 47px;
}

.slide-text p {
    font-size: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 30px;
    color: #464646;
}

.slider input[type="radio"] {
    display: none;
}

.slider-controls {
    position: relative;
    text-align: center;
    width: 500px;
    margin-top: 55px;
}

.slider-controls a {
    width: 200px;
    float: left;
}

.toggles {
    position: absolute;
    right: 0;
    top: 17px;
}

.toggles label {
    display: inline-block;
    vertical-align: top;
    width: 5px;
    height: 5px;
    margin: 0 23px;
    border: 3px solid #000000;
    opacity: 0.3;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label:hover {
    opacity: 0.6;
}

.slider-controls label:active,
.slider-controls label:checked {
    opacity: 1;
}

.slider-controls {
    position: absolute;
    right: 0;
    top: 40%;
}

.slide {
    display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}


/*------------------------------------*/

.categories {    
    margin-top: 115px; 
    
}

.categories-item {
    float: left;
    display: block;
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    margin-right: 40px;    
}

.categories-item:hover {
    background-color: #f0c52e;
}

.categories-item img:active {
    opacity: 0.3;
}

.categories-item:last-child {
   margin-right: 0;
}

.categories-item {    
    margin-bottom: 190px;    
}

.categories-item a {
    display: block;
    float: left;
    color: #000000;
    font-size: 18px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    
    text-decoration: none;
    
}

.categories-item-icon {
    margin-bottom: 40px;
}




.gray-bg {
    margin-top: 90px;
    background-color: #e5e5e5;
    max-height: 290px;
}

.serv-wrapper {
    position: relative;
    top: -100px;
}

.services {
    margin-bottom: 100px;
}

.services h3 {
    margin-top: 0;
    margin-top: 5px;
}

.services-btn {
    float: left;
    margin-top: 80px;
    width: 280px;
}

.vertical-line {
    float: left;
    display: inline-block;
    width: 8px;
    height: 320px;
    background-color: #000000;
}

.services-info {
    float: left;
    margin-top: 80px;
    padding-top: 0;
    margin-left: 110px;
    max-width: 500px;
}

.services-img {
    float: right;
    margin-top: 80px;
    margin-left: 10px;
}


.service-btn .btn {
    background-color: #f0c52e;
}

.brands-block {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px;
}

.brands-block img {
    float: left;
    display: block;
    margin-right: 40px;
}

.brands-block img:last-child {
    margin-right: 0;
}

.dji:hover {
    background: url("../img/brand-1-hvr.png");
}

.sp:hover {
    background: url("../img/brand-2-hvr.png");
}

.gopro:hover {
    background: url("../img/brand-3-hvr.png");
}

.vive:hover {
    background: url("../img/brand-4-hvr.png");
}

.index-content p {
    font: inherit;
    line-height: 30px;
    color: #464646;
}


.index-content-left ul {
    font-weight: bold;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: 40px;    
}

.index-content-left {
    position: relative;
    float: left;
    width: 500px;
    margin-right: 100px;
    min-height: 588px;
}

.index-content-left > p {
    margin-bottom: 40px;
}


.index-content-right {
    position: relative;
    float: right;
    width: 560px;
    min-height: 588px;
}

.index-content-right > p {
    margin-bottom: 45px;
}

.index-content-right img {
    margin-bottom: 80px;
}

.index-content {
    margin-bottom: 90px;
}

.index-content .btn-container {
    position: absolute;
    bottom: 0;    
}

.index-content a {    
    line-height: 40px;
}

.index-content .btn {
    width: 260px;
}

.main-footer {
    height: 325px;
    background-color: #464646;
    margin-top: 75px;
}

.footer-top {
    padding-top: 60px;
    margin-bottom: 25px;
}


.footer-logo {
    float: left;
    width: 160px;
    margin-top: 0;
    font-size: 48px;
}

.footer-logo a {
    color: #f7e296;
    text-decoration: none;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bolder;
}

.footer-logo a:hover {
    color: #f0c52e;
}

.footer-logo a:active {
    opacity: 0.3;
}

.breadcrumbs-footer {
    float: right;
    max-width: 700px;
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs-footer li {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    line-height: 36px;
}

.breadcrumbs-footer a {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.6;
}

.breadcrumbs-footer a:hover {
    opacity: 1;
}

.breadcrumbs-footer a:active {
    opacity: 0.3;
}

.cart-footer {
    position: relative;
    margin-left: 70px;
}

.cart-footer::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: -20px;
    width: 12px;
    height: 12px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -5px -27px;
}

.compare-footer {
    position: relative;
    margin-left: 70px;
}

.compare-footer::before {
    content: "";
    position: absolute;
    top: 25%;
    left: -20px;
    width: 10px;
    height: 10px;
    background: transparent url("../img/sprite.png");
    background-position: -5px -130px;
}

.login-footer {
    position: relative;    
}

.login-footer::before {
    content: "";
    position: absolute;
    top: 25%;
    left: -20px;
    width: 13px;
    height: 12px;
    background: transparent url("../img/sprite.png");
    background-position: -5px -821px;
}

.address {
    float: left;
    display: block;
    margin-right: 160px;
    color: #ffffff;
}

.footer-nav {    
    font-size: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.footer-nav li {
    float: left;
    font-size: 18px;
    margin-right: 35px;
}

.footer-nav li:last-child {
    margin-right: 0;
}

.footer-nav a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Gilroy", "Arial", sans-serif;
    text-decoration: none;
}

.footer-nav a:hover {
    opacity: 0.6;
}

.footer-nav a:active {
    opacity: 0.3;
}

.footer-phone {
    float: right;
    color: #ffffff;
}

.footer-social {
    float: left;
}

.social-btn {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 0;
    text-align: center;
    text-decoration: none;
    width: 39px;
    height: 38px;
    
}

.social-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/sprite.png");
}

.social-btn-fb::before {
    width: 39px;
    height: 38px;
    background-position: -5px -190px;
}

.social-btn-fb:hover::before {
    width: 39px;
    height: 38px;
    background-position: -5px -286px;
}

.social-btn-fb:active::before {
    width: 39px;
    height: 38px;
    background-position: -5px -286px;
    opacity: 0.1;
}

.social-btn-inst::before {
    width: 39px;
    height: 38px;
    background-position: -5px -466px;
}

.social-btn-inst:hover::before {
    width: 39px;
    height: 38px;
    background-position: -5px -562px;
}

.social-btn-inst:active::before {
    width: 39px;
    height: 38px;
    background-position: -5px -562px;
    opacity: 0.1;
}

.social-btn-twi::before {
    width: 38px;
    height: 38px;
    background-position: -5px -655px;
}

.social-btn-twi:hover::before {
    width: 38px;
    height: 38px;
    background-position: -5px -751px;
}

.social-btn-twi:active::before {
    width: 38px;
    height: 38px;
    background-position: -5px -751px;
    opacity: 0.1;
}

.footer-copyright {
    float: right;
}

.copyright {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 0;
    text-align: center;
    text-decoration: none;
    width: 27px;
    height: 34px;
}

.copyright::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/sprite.png");
}

.icon-copyright::before {
    width: 27px;
    height: 34px;
    background-position: -5px -334px;
}

.icon-copyright:hover::before {
    width: 27px;
    height: 34px;
    background-position: -5px -422px;
}

.icon-copyright:active::before {
    width: 27px;
    height: 34px;
    background-position: -5px -422px;
    opacity: 0.3;
}

.footer-third {
    position: relative;
    margin-top: 35px;
    margin-bottom: 60px;
}

.footer-line {
    margin-top: 27px;
    width: 80px;
	height: 7px;
	background: #f0c52e;
    float: left;
    margin-right: 400px;
}

.line-container {
    position: relative;
    height: 34px;
    float: left;
}

/* CATALOG.HTML */

.path {
    display: block;
    margin-bottom: 50px;
    list-style: none;
    padding-left: 0;
}

.path li {
    display: inline-block;
    position: relative;
}

.path li::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 17px;
    width: 4px;
    height: 7px;
    background: url("../img/icon-path.png") no-repeat;    
}

.path li:last-child::after {
    background: none;
}

.path a {
    text-decoration: none;
    margin-right: 40px;
    color: #000000;
    font-size: 14px;
    line-height: 36px;
    opacity: 0.3;
}

.path a:hover {
    opacity: 0.6;
}

.path a:active {
    opacity: 0.1;
}

.filters-top-bg {
    background-color: #ebebeb;
}

.filters-top {
    
}

.filters-word {
    float: left;
    width: 200px;
    height: 70px;
}

.filters-word span{
    line-height: 70px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.search-results-top {
    width: 760px;
    height: 70px;
    line-height: 70px;
    float: right;
}

.search-results-top span {
    line-height: 70px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    
}

.search-results-top a {
    text-transform: none;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    padding: 0 25px;
    text-decoration: none;
    opacity: 0.3;
}

.search-results-top a:first-child {
    padding-left: 50px;
}

.search-results-top a:hover {
    opacity: 0.6;
}

.search-results-top a:active {
    opacity: 1;
}

.sort-buttons {
    float: right;
}

.sort-buttons a {
    padding: 0;
}

.sort-buttons a:first-child {
    padding-left: 0;
}

.sort-buttons a:last-child {
    margin-left: 10px;
}

.filters {
    position: relative;
    float: left;
    width: 200px;
}

.filters legend {
    font-size: 18px;
    font-weight: bold;
    font-family: "Gilroy", "Arial", sans-serif;
    color: #000000;
    margin-bottom: 25px;
}



/*
.filters p {
    width: 270px;
    height: 70px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Gilroy", "Arial", sans-serif;
    background-color: #efefef;
}
*/

.price-range {
    width: 200px;
    margin-bottom: 10px;
    padding: 0;
}

.range-controls {
    position: relative;
    margin-bottom: 10px;
}

.range-controls .scale {
    height: 2px;
    background-color: #dbdbdb;
}

.range-controls .bar {
    height: 2px;
    width: 70%;
    background-color: #91c92f;
}

.range-controls .toggle {
    position: absolute;
    top: -7px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 2px solid #000000;
    border-radius: 50%;
    background-color: #eeeeee;
    cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 130px;
}

.price-controls {
    opacity: 0.2;
}

.price-controls input {
    border: none;
    background-color: transparent;
    width: 70px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    line-height: 20px;
    padding-left: 45px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    border: none;
    background-color: #e5e5e5;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="checkbox"]:checked + label::after {
    content: "";
    width: 12px;
    height: 7px;
    position: absolute;
    top: 8px;
    left: 6px;
    background: url("../img/sprite.png") no-repeat;
    background-position: -5px -93px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: block;
    margin: 10px 0;
    line-height: 20px;
    padding-left: 45px;
    position: relative;
    cursor: pointer;
}

input[type="radio"] + label::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    border: 1px solid #c6c6c6;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 9px;
    height: 9px;
    background: url("../img/sprite.png") no-repeat;
    background-position: -5px -610px;
}

.filters {
    margin-top: 70px;
    border-top: 2px solid #000000;
}

.filters fieldset {
    border: none;
    border-bottom: 2px solid #000000;
    margin-bottom: 12px;
    padding: 0;
}

.filters legend:first-child {
    padding-top: 25px;
}

fieldset label:last-child {
    margin-bottom: 40px;
    border-bottom: none;
}

.bluetooth {
    border: none;
}

.submit-btn {
    border: none;
    width: 200px;
    background-color: transparent;
    cursor: pointer;
}

.search-results {
    float: right;
    width: 760px;
}


.catalog-item {
    display: inline-block;
    position: relative;
    margin-top: 70px;
}

.item-actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 380px;
    text-align: center;
    color: black;
    opacity: 0;
}

.catalog-item:hover .item-actions {
    cursor: pointer;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.6);
}

.item-actions a {
    display: block;
    width: 200px;
    top: 160px;
    left: 90px;
    z-index: 2;
}

.item-btn {
    width: 200px;
    opacity: 2;
}

.item-btn::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-color: #f0c52e;
    top: 16px;
    bottom: 16px;
    transition-duration: 0.25s;
    transition-property: top bottom;
    z-index: -1;
}

.to-compare {
    display: block;
    font-size: 13px;
    color: #000000;
    opacity: 1;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    line-height: 36px;
    margin-top: 160px;
    margin-left: 90px;
}


.item-image {
    overflow: hidden;
    width: 360px;
    height: 380px;
}

.new-item::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 61px;
    background: url("../img/icon-new.png") no-repeat;
    z-index: 1;
    opacity: 0.1;
}

.catalog-item:nth-child(odd) {
    margin-right: 36px;
}

.item-info {
    
}

.catalog-item-title {
    width: 180px;
    font-weight: bold;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    display: block;
    float: left;
}

.catalog-item-price {
    font-size: 16px;
    display: block;
    float: right;
}

.page-nav {
    margin-top: 55px;
    width: 760px;
    height: 70px;
    background-color: #ebebeb;
    display: flex;
    z-index: 0;
}

.page-nav-btn {    
    line-height: 70px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    letter-spacing: 2px;
}

.page-prev {
    width: 130px; 
    text-align: center;
    position: relative;    
}

.page-prev:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 70px;
    background-color: #000000;
    opacity: 0.08;
}

.page-prev:active {
    opacity: 0.3;
}

.page-next {
    width: 130px;
    text-align: center;
    position: relative;
}

.page-next:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 70px;
    background-color: #000000;
    opacity: 0.08;
}

.page-next:active {
    opacity: 0.3;
}



.page-number-wrapper {    
    width: 500px;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;    
}

.page-number {    
    width: 40px;
    text-align: center;
    opacity: 0.3;    
}

.page-number:hover {
    display: table-cell;
    text-align: center;
    opacity: 0.6;
}

.page-number:active {
    display: table-cell;
    text-align: center;
    opacity: 1;
}

.page-nav .active {
    display: table-cell;
    text-align: center;
    opacity: 1;
}



